# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# animations
*.gif

# my_files

# my folders
#
beirut5.srt.txt
data/beirut5.mp4
data/beirut5.srt.txt
test/
#